<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h4>first name: <input type="text " placeholder="first name"></h4>
    <h4>middle name: <input type="text"  placeholder="middle name"></h4>
    <h4>last name: <input type="text"  placeholder="last name"></h4>
    <h4>email: <input type="text"  placeholder="email"></h4>
    <h4>phone numbr: <input type="text" placeholder="phone number"></h4>
    <h4>address <input type="text"  placeholder=" address"></h4>
    <input type="button" value="submit">
    
 
</body>
</html>